# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.backup
pom.xml.restoreBackup
dependency-reduced-pom.xml

# --- IDE (Eclipse) ---
.settings/
.project
.classpath
.factorypath

# --- IDE (IntelliJ) ---
.idea/
*.iml
*.iws

# --- Compiled files ---
*.class
*.jar

# --- Logs & OS ---
*.log
.DS_Store
Thumbs.db

# --- Test Server (Caso você teste dentro da pasta do projeto) ---
plugins/
logs/
world/
world_nether/
world_the_end/
server.properties
bukkit.yml
spigot.yml
